//------BTN

.btn {
    width: 100%;

    margin: 30% 0 2rem;

    border-radius: 3rem;

    font-weight: 900;
    text-transform: uppercase;
    color: #fff;

    cursor: pointer;

    &--green {
        background-color: $colorMain;
    }

    &--black {
        background-color: #000;
    }

    &--gray {
        background-color: #d7d8d8;
    }
}
