//------COLumn

.col {
    &-desk-4 {
        @include breakpoint(desktop) {
            display: inline-block;
            width: 25%;
            padding: 0 1rem;

            vertical-align: top;
        }
    }

    &-tab-3 {
        @include breakpoint(tablet) {
            display: inline-block;
            width: 33%;
            padding: 0 1rem;

            vertical-align: top;
        }
    }
}
