//------COMMON helper elements

.tac {
    text-align: center;
}

.tal {
    text-align: left;
}

.imgRound {
    border-radius: 50%;
}

.text {
    font-size: 1.2rem;
    color: #95989a;
}

.link {
    color: #000;
}
