//------FORMs login & register styles

.form {
    max-width: 25%;
    margin: 0 auto;
    @include breakpoint(tablet) {
        max-width: 40%;
    }

    &__input {
        display: block;
        width: 100%;
        margin: 2rem 0 0.8rem;

        border: none;
        border-bottom: 1px solid $colorWhite;
        background-color: transparent;

        font-family: Roboto;
        font-size: 2rem;
        color: #fff;

        @include inputPlaceholder { color: white; }

        &--colorBlack {
            color: black;

            @include inputPlaceholder { color: #95989a; }

        }
    }

    &__btn {
        padding: 1rem 0;
    }

    &__forgot {
        display: block;
        margin-top: 2rem;
        font-family: $baseFont--light;
        font-size: 1.6rem;
        text-align: left;
        color: $colorWhite;
    }

    &__link {
        font-weight: 900;
        color: $colorMain;
        text-transform: uppercase;
    }

    .is-danger {
        font-size: 1em;
        color: red;
    }

    &--editProfile {
        max-width: 55%;
        .form__input {
            border-bottom: 1px solid $greyChateau;
           
        }

    }
    input[type="file"] {
        display: none;
    }

    .custom-fileUpload {
        font-family: Roboto;
        font-size: 2rem;
        color: $blackRussian;
        cursor: pointer;
    }
}
