//------MAIN NAV

.mainNav {
    display: inline-block;

    position: absolute;
    top: 50%;
    @include transform (translate(0,-50%));

    &--left {
        left: 0;
    }

    &--right {
        right: 0;
    }

    &__link {
        padding-right: 1rem;
        padding-left: 1.5rem;
        font-size: 1.4rem;
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        &:hover {
            text-decoration: none;
        }
    }
}
