//------MEDIA

.media {//defult is top
    margin-bottom: 0.8rem;

    &--left {
        display: inline-block;
        margin-left: 10%;
        text-align: center;
        &__img {
            display: inline-block;
            margin-right: 0.5rem;

            vertical-align: middle;
        }
    }

    &__img {
        &--main {
            width: 100%;
        }
    }

    &__title {
        display: inline-block;
        vertical-align: middle;
    }

    &__likes {
        display: inline-block;
        padding: 0.5rem 0;

        font-size: 1rem;
        text-align: right;
    }

    &__text {
        color: #333;
    }

    &__comment {
        display: inline-block;
        vertical-align: middle;

        font-size: 1rem;
    }

    &__moreComments {
        font-size: 1rem;
        color: #95989a;
    }
}
