//------PROFILE page & editprofile page

.profile {
    &__intro {
        margin-bottom: 2rem;
    }

    &__text {
        padding: 1rem 0;
        margin-bottom: 1rem;
        font-family: $baseFont--light;
        font-size: 2rem;
        color: $blackRussian;

        &--smaller {
            font-size: 1.2rem;
        }

        span {
            font-weight: 900;
        }
    }

    &__btn {
        padding: 0.5rem 1.2rem;
        margin-bottom: 2rem;

        font-size: 1.2rem;
        text-transform: capitalize;
    }

    &__subtitle {
        margin-bottom: 1rem;
    }

    &__link {
        display: inline-block;
        width: 4rem;

        float: left;
    }

    &__info {
        margin-bottom: 1rem;

        font-size: 1.4rem;
    }

    &__img {
        margin-right: 2rem;
    }

    &__media {
        margin-bottom: 3rem;
    }

    &__feedHeader {
        margin-bottom: 4rem;
    }

    &__square {
        margin-right: 0.5rem;
    }
    &__picture {
        margin: 0 auto;
        margin-bottom: 2rem;
        width: 10rem;
        height: 10rem;
        img {
            width: 100%;
            height: 100%;
        }
    }

}
