//------REGISTER page

.register {
    padding: 5% 0;

    .form__input {
        color: $colorBlack;
        @include inputPlaceholder { color: $colorBlack; }
        border-bottom: 1px solid $blackRussian;
    }

	.form__forgot {
		font-family: Roboto;
		color: $blackRussian;

	}

	.form__link {
		text-transform: initial;
		font-weight: normal;
	}
    
    &__logo {
        margin-bottom: 8rem;

        font-size: 8rem;
    }
}
