//------TITLE

.mainTitle {
    margin-bottom: 2rem;

    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #333;
}

.subtitle {
    font-size: 1.2rem;
    color: #333;
}
