///------------------------------------
//    #SETTINGS
//------------------------------------

// Globaly available variables


//-------------------------
//    #Paths
//    create and set variable url for fonts
//-------------------------

// $fontBaseUrl   : "http://static1.webedia.fr/fonts/";
// $localFontBase : "/_common/fonts";

//-------------------------
//    #Base style
//    create and set
//    variable base style
//-------------------------

$baseFontSize:    10; // don`t change this
$baseFont: "Times New Roman", Georgia, Serif;

//------FONT SIZES
// A = 10 (font size we want)
// B = 768 (resolution we are looking at in the desing)
// X = (A / B) * 100
html {
    $fontSizePX: $baseFontSize + 'px';
    font-size  : #{$fontSizePX};
    @include breakpoint(desktop) {
        font-size: 0.69444444444vw;
        // e.g. for desk 20px bp is 1025 change this according to formula  X = (A / B) * 100
        // and set font size on element every look in article thats yr globa; value
    }
    @include breakpoint(tablet) {
        font-size: 1.0101010101vw;
    }
    @include breakpoint(phone) {
        font-size:  1.33333333333vw;
    }
}


//dont chnage
html {
    $fontSizePX: $baseFontSize + 'px';
    font-size  : #{$fontSizePX};

    @include breakpoint(tablet) {
        $fontSizePX: $baseFontSize / 1.5 + 'px';
        font-size  : #{$fontSizePX};
    }
    @include breakpoint(phone) {
        $fontSizePX: $baseFontSize / 2 + 'px';
        font-size  : #{$fontSizePX};
    }
}
body {
	font-size: 100%;
    font-family: $baseFont;
}
