//------TYPOGRAPHY


//------FONT-FACE
// @include fontFace (Gotham, gotham-light);

//------FONT SIZES
html {
    $fontSizePX: $baseFontSize + 'px';
    font-size  : #{$fontSizePX};

    @include breakpoint(desktop) {
        font-size: 0.6944444vw;// 10/1440*100
    }
    @include breakpoint(tablet) {
        font-size: 1.302083vw;// 10/768*100
    }
    @include breakpoint(phone) {
        font-size: 1.3333333vw;// 10/750*100
    }
}

body {
    font-size: 100%;
    font-family: $baseFont;
}
