
//-------------------------
//---------------TYPOGRAPHY
//-------------------------

//------FONT-FACE

// @font-face {
//   font-family: 'HelveticaNeue';
//   src: url('/src/fonts/HelveticaNeue.ttf') format('ttf'),
//        url('/src/fonts/HelveticaNeue.otf') format('otf');
// }

// @font-face {
//   font-family: 'Helvetica Neue Thin';
//   src: url('/src/fonts/HelveticaNeueThin.ttf') format('ttf');
// }

// @include fontFace (fontello, /fontello, null, null, eot woff ttf svg);


 @include fontFace (HelveticaNeue, HelveticaNeue, null, null, ttf otf);
 @include fontFace (HelveticaNeueThin, HelveticaNeue Thin, null, null, ttf);
 @include fontFace (HelveticaNeueLight, HelveticaNeue Light, null, null, ttf);
 @include fontFace (Roboto, Roboto-Regular, null, null, ttf);
  @include fontFace (Roboto-Bold, Roboto-Bold, null, null, ttf);

//------FONT SIZES
html {
    $fontSizePX: $baseFontSize + 'px';
    font-size  : #{$fontSizePX};

    @include breakpoint(desktop) {
        font-size: 0.6944444vw;// 10/1440*100
    }
    @include breakpoint(tablet) {
        font-size: 1.302083vw;// 10/768*100
    }
    @include breakpoint(phone) {
        font-size: 1.3333333vw;// 10/750*100
    }
}

body {
    font-size: 100%;
    font-family: $baseFont;
    color: $blackRussian;
}
