
//-------------------------
//---------------TYPOGRAPHY
//-------------------------

//------FONT-FACE

// @font-face {
//   font-family: 'HelveticaNeue';
//   src: url('/src/fonts/HelveticaNeue.ttf') format('ttf'),
//        url('/src/fonts/HelveticaNeue.otf') format('otf');
// }

// @font-face {
//   font-family: 'Helvetica Neue Thin';
//   src: url('/src/fonts/HelveticaNeueThin.ttf') format('ttf');
// }

// @include fontFace (fontello, /fontello, null, null, eot woff ttf svg);


 @include fontFace (HelveticaNeue, HelveticaNeue, null, null, ttf otf);
 @include fontFace (HelveticaNeueThin, HelveticaNeue Thin, null, null, ttf);
 @include fontFace (HelveticaNeueLight, HelveticaNeue Light, null, null, ttf);
 @include fontFace (Roboto, Roboto-Regular, null, null, ttf);
  @include fontFace (Roboto-Bold, Roboto-Bold, null, null, ttf);

//------FONT SIZES
html {
    $fontSizePX: $baseFontSize + 'px';
    font-size  : #{$fontSizePX};
    @include breakpoint(widescreen) {
        font-size: 0.5208333333vw;// 10/1920*0.01
    }
    @include breakpoint(desktop--Large) {
        font-size: 0.625vw;// 10/1600*0.01
    }
    @include breakpoint(tabletLandscape) {
        font-size: 0.9765625vw;// 10/1024*0.01
    }
    @include breakpoint(tablet) {
        font-size: 1.302083333;// 10/768*0.01
    }
}

body {
    font-size: 100%;
    font-family: $baseFont;
    color: $blackRussian;
}
